$light__color:white;
$dark__color:rgb(29, 29, 29);
$delete_color: rgb(174, 8, 8);
$primary__font: roboto;
$secondary__font: karantina;
$breakpoint: 768px;

@mixin grid($columns,$columnGap,$rowGap){
    display: grid;
    grid-template-columns: $columns;
    grid-column-gap: $columnGap;
    grid-row-gap: $rowGap;
}

@mixin font ($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

@mixin animation ($name,$duration,$iteration,$time){
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-timing-function: $time;
}

@mixin button($background_color, $items_color) {
    background-color: $background_color;
    border-radius: 30px;
    border: .2em solid $items_color;
    cursor: pointer;
    color: $items_color;
    text-transform: uppercase;
    padding: .3em 1.5em;
    text-decoration: none;
    outline: none;
    transition: .2s;
        &:hover{
            border: .2em solid $items_color;
            background-color: $items_color;
            color: $background_color;
        }
}

%border_test {
    border: solid 1px red;
}