@use "sass:color";
@import 'variables.scss','reset';
  
header {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background: $light__color;
    box-shadow: 0px 14px 19px -8px rgba(50, 50, 50, 0.75);
    img {
      width: 90%;
      margin: auto;
    }
}

  .main-menu {
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    @include grid (8fr 1fr, 2rem, 0);

    .beer__container {
      @include grid (1fr,0,2rem);
      .beer {
        transform: translateX(1.5rem);
        h2 {
          @include font(2rem,bold);
          font-family: $secondary__font;
            }
        h3 {
          @include font(2rem,lighter);
          font-family: $secondary__font;
            }
        .cost {
          @include font(2rem, bold);
            }
        .order-btn {
          width: 1.5rem;
          height: 1.5rem;
          transform: translate(-2.25rem, 120%);
          cursor: pointer;
          }
      }
    }

    .cart__support {
      position: relative;
      width: 100%;
      padding: 3rem 0 0;

      .cart {
        position: fixed;
        cursor: pointer;

        text-align: center;
      }
      .cart-number {
        font-size: 1rem;
      }
      .cart-comunicat {
        text-align: center;
        font-family: roboto;
        visibility: hidden;
      }
      .cart-comunicat-visible {
        visibility: visible;
      }
      .cart-img {
        width: 70%;
        max-width: 3rem;
      }

      .cart-off {
        visibility: hidden;
      }

      .cart__container {
        text-align: center;

      .delete {
        color: rgb(92, 10, 10);
        cursor: pointer;
      }
      
      .total {
        font-weight: bold;
      }
      .item-name {
        text-align: left;
        font-size: 1rem;
        margin: .4rem 0;
        line-height:1.1rem
        ;
      }
      .items {
        margin: 1rem 0;
      }
        .btn{
          @include button($light__color,$dark__color);
          margin-top: 1em;
          font-weight: bold;
          text-align: center;
        }
      }
    } 
    
  }


  @media (min-width:$breakpoint) {
    header {
      img {
        max-width: 800px;
      }
    }

    .main-menu {
      max-width: 1000px;
      .beer__container {
        @include grid (1fr 1fr,2rem,2rem);
      }
    }
  }


// ============ FOOTER BTN FILTER CONTAINER =============== 

  .fake-div {
    height: 6rem;
  }
  
  .footer__main {
    background-color: $dark__color;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: .5rem 0;
  
  .btn-container {
    text-align: center;

    .btn-title {
      @include font(.9rem,bold);
      @include animation(bounce-2,4s,infinite,ease);
      text-transform: uppercase;
      color: white;
      padding: .4rem 0;
    }

    .filter-btns-container {
    display: none;
    padding: .4rem 0;
    }

    .show-filter-btns {
      display: block;
    }

    .filter_btn {
      @include font(.75rem,bold);
      @include button ($dark__color,$light__color);
      margin-top: .4rem;
      margin-right: .4rem;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $breakpoint){
  .filter-btns-container {
    display: block;
    }
}

  
  @keyframes bounce-2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  

  
  .order__comming {
    width: 0;
    height: 0;
    background-color: #ffffff;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    opacity: 0;
  }
  
  .order__comming h2 {
    margin-top: 50vh;
  }
  
  .show__order {
    @include animation (showOrder,2s,infinite,ease)
  }
  
  @keyframes showOrder {
    0% {
      opacity: 0;
      width: 100vw;
      height: 100vh;
    }
    25% {
      opacity: 1;
      width: 100vw;
      height: 100vh;
    }
    50% {
      opacity: 1;
      width: 100vw;
      height: 100vh;
    }
    70% {
      opacity: 1;
      width: 100vw;
      height: 100vh;
    }
    100% {
      opacity: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  