@import 'variables.scss','reset';
@use "sass:color";
  
.header {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background: $light__color;
    box-shadow: 0px 14px 19px -8px rgba(50, 50, 50, 0.75);
    img {
      height: 20vh;
      margin: auto;
    }
  }
  
  .main-menu {
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    position: relative;

      .beer__container {
        @include grid(1fr 1fr, 10%);
        grid-row-gap: 30px;

        .beer {
          text-align: left;
            h2 {
              @include font(2rem,bold);
              font-family: $secondary__font;
            }
            h3 {
              @include font(2rem,lighter);
              font-family: $secondary__font;
            }
            .cost {
              @include font(2rem, bold);
            }
          .order-btn {
            width: 1.5rem;
            height: 1.5rem;
            transform: translate(-150%, 110%);
            cursor: pointer;
          }
        }
      }
  }
  
  .wide-menu {
    width: 70%;
    grid-template-columns: 3fr 1fr;
    @include grid(3fr 1fr,0.625rem);
  }

  .fake-div {
    height: 6rem;
  }
  
  .footer__main {
    background-color: $dark__color;
    height: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .btn-container {
    text-align: center;
    .btn-title {
      @include font(1rem,bold);
      @include animation(bounce-2,4s,infinite,ease);
      text-transform: uppercase;
      color: white;
      margin-top: 0.75rem;
    }
    .filter_btn {
      @include font(.75rem,bold);
      @include button ($dark__color,$light__color);
      margin-top: 0.625rem;
      margin-right: 1em;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  .delete {
    color: $delete_color;
    cursor: pointer;
    font-weight: bold;
  }
  
  @keyframes bounce-2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .cart__support {
    position: absolute;
    right: 0;
    top: 35vh;
  }
  
  .cart {
    position: fixed;
    cursor: pointer;
  }
  
  .cart-number {
    position: absolute;
    top: 35%;
    right: 15%;
    font-size: 1rem;
    text-align: center;
  }
  
  .cart-comunicat {
    position: absolute;
    right: 0;
    text-align: center;
    font-family: roboto;
    visibility: hidden;
  }
  
  .cart-comunicat-visible {
    visibility: visible;
  }
  
  .cart-img {
    width: 30%;
    height: 30%;
  }
  
  .cart__container {
    text-align: center;
    .btn{
      @include button($light__color,$dark__color);
      margin-top: 1em;
    }
  }
  
  .cart-off {
    visibility: hidden;
  }
  
  .total {
    font-weight: bold;
  }
  .item-name {
    font-weight: lighter;
  }
  .items {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .order__comming {
    width: 0;
    height: 0;
    background-color: color.scale(#878787, $lightness: 20%);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    opacity: 0;
  }
  
  .order__comming h2 {
    margin-top: 50vh;
  }
  
  .show__order {
    @include animation (showOrder,2s,infinite,ease)
  }
  
  @keyframes showOrder {
    0% {
      opacity: 0;
      width: 100vw;
      height: 100vh;
    }
    25% {
      opacity: 1;
      width: 100vw;
      height: 100vh;
    }
    50% {
      opacity: 1;
      width: 100vw;
      height: 100vh;
    }
    70% {
      opacity: 1;
      width: 100vw;
      height: 100vh;
    }
    100% {
      opacity: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .beer__container {
      @include grid(1fr,0)
    }
  }
  
  
  